
.meni 
{
    display: flex;
}

.meni li 
{
    list-style: none;
    background-color: gray;
    font-weight: bold;
    border: 2px;
    padding: 12px;
    margin: auto;
    width: 420px;
    text-align: center;
}
.meni li a 
{
    color: white;
    text-decoration: none;
}

.meni li:hover 
{
    background-color: rgb(170, 18, 18);
}

.meni li.trenutni 
{
    background-color: rgb(170, 18, 18);
}

.Pocetna
{
    background-image: url(Slike/Pocetna.jpg);
}


h1
{
    color:black;
    position: relative;
    left: 760px;
    top:160px;
}

.Pocetna p 
{
    font-weight: bold;
    font-size: 15px;
    color:whitesmoke;
    position: relative;
    left: 610px;
    top:560px;
}

.onama_text p 
{
    text-align: center;
    position:relative;
    left: 5px;
    top:100px;
    font-size: 23px;
    color:black;
}
.onama_text h1 
{
    text-align: center;
    position:relative;
    left: 20px;
    top:100px;
    font-size: 34px;
    color:black;
}


.body_proizvodi
{
background-color: rgb(181, 186, 189);
}
.Proizvod p 
{
    text-align:center;
    font-weight: bold;
}


.Proizvod a 
{
    border: 30px;
    color:whitesmoke;
    background-color: rgb(170, 18, 18);
    margin:auto;
    padding:10px;
    text-decoration: none;
}
.Proizvod p 
{
    font-size: 23px;
}

form
{
    display: flex;
    padding:30px 2px 30px 2px;

}

button:hover 
{
    background-color:rgb(170, 18, 18);
    color:white;
}

#form-paragraf 
{
    color:black;
    font-weight: bold;
    font-size:40px;
}

label 
{
    color:black;
    font-weight: bold;
}

button 
{
  margin-left: 30px;
  color: white;
  background-color: black;
  transition: all 0.5s;
  position: relative; 
  
}
.animacija
{
    width: 50%;
    height: 10px;
    background-color: red;
    position: relative;
    animation: kretanje 4s infinite;
}

@keyframes kretanje 
{
    from{left: 0px;}
    50%{left: 50%;}
    100%{left: 0px;}
}

@media screen and (max-width: 570px) 
{
    .meni 
    {
        display: block;
        padding:auto;
    }
    .meni li a 
    {
        display: block;
    }
}